:root {
    --darkblue: #0D398C;
    --lidark: #3059a6;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Nunito', sans-serif;
    background-image: url('b.jpg');
    background-size: cover;
}
.header {
    padding-block: 30px;
}
[class*="__container"] {
    max-width: 1069px;
    margin-inline: auto;
}
.header__nav {
    display: flex;
    justify-content: space-between;
}
.header__list {
    display: flex;
    gap: 49px;
    align-items: center;
}
ul {
    list-style: none;
}
.header__list-link {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.47px;
    color: var(--lidark);
    transition: color 0.3s;
}
.header__list-link:hover {
    color: var(--darkblue);
    text-decoration: underline;
}
a {
    text-decoration: none;
}
.header__svg {
    width: 450px;
    height: auto;
}
.about {
    padding-block: 150px;
}
.about__container, .features__container, .money__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.about__content, .features__content, .money__content {
    max-width: 423px;
    padding-block: 0; 
    flex: 1;
}
.about__image {
    width: 700px;
    max-width: 60%;
    height: auto;
    position: static;
    top: auto;
    right: auto;
    left: auto;
}
.about__title {
    font-weight: 900;
    font-size: 80px;
    letter-spacing: -2.5px;
    line-height: 77px;
    color: var(--darkblue);
}
.about__desc {
    font-size: 20px;
    letter-spacing: -0.63px;
    line-height: 30px;
    color: var(--lidark);
    margin-top: 30px;
}
.about__button {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.53px;
    color: white;
    padding: 19px 59px;
    border-radius: 10px;
    transition: 0.3s;
    background: var(--darkblue);
}
.about__buttons {
    margin-top: 50px;
    display: flex;
    gap: 40px;
}
.about__button:hover {
    opacity: 80%;
}
.features {
    padding-block: 150px;
}
.features__container {
    flex-direction: row-reverse;;
}
.features__image {
    width: 600px;
    max-width: 50%;
    height: auto;
    position: static;
    top: auto;
    right: auto;
    left: auto;
}
.features__title {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 50px;
    color: var(--darkblue);
}
.features__desc {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.63px;
    line-height: 30px;
    color: var(--lidark);
    margin-top: 30px;
}
.money {
    padding-block: 150px;
}
.money__image {
    width: 350px;
    max-width: 50%;
    height: auto;
    position: static;
    top: auto;
    right: auto;
    left: auto;
}

.money__title {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 50px;
    color: var(--darkblue);
}
.money__desc {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.63px;
    line-height: 30px;
    color: var(--lidark);
    margin-top: 30px;
}
